.landing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: relative;

}

.landing-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #f30000;
  /* Color of the border */
  border-radius: 2px;
  /* Adjust border radius for the design */
}

.signin-message {
  font-size: 1em;
  color: #ea5455;
  text-decoration: bold;
}

.logo-container {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.logo-container img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  /* Adjust the size as needed */
  /*height: 80px;*/
}

.signin-container {
  width: 350px;
  margin-right: 20%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
}

.input-container-container {
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  margin-left: 50px;
}

.input-container label {
  display: block;
}

.input-container input[type="email"] {
  width: 140%;
  font-size: 1em;
  /* Make it take up the entire width */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #212121;
  /* Add a red border */
  border-radius: 4px;
  outline: none;
  /* Remove the default input outline */
}

.input-container input[type="password"] {
  width: 140%;
  font-size: 1em;
  /* Make it take up the entire width */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #212121;
  /* Add a red border */
  border-radius: 4px;
  outline: none;
  /* Remove the default input outline */
}

.input-container input[type="text"] {
  width: 140%;
  font-size: 1em;
  /* Make it take up the entire width */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #212121;
  /* Add a red border */
  border-radius: 4px;
  outline: none;
  /* Remove the default input outline */
}

.next-button {
  width: 140%;
  padding: 10px;
  font-size: 1em;
  background-color: red;
  /* Adjust the color as needed */
  color: #fff;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-message {
  margin-top: 20px;
  font-size: 1em;
}

.signup-button {
  text-decoration: inherit;
  /* for some reason there is always an underline no matter what */
  /* so I just made it red to hide it */
  text-decoration-color: red;
  justify-content: center;
  width: 140%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
  background-color: red;
  /* Adjust the color as needed */
  color: #fff;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
}

.guest-link {
  margin-top: 10px;
  font-size: 1em;
}