/* Overall Structure */
.review-component {
    display: flex;
    flex-direction: row;
    /* Set the main axis as row to position elements from left to right */
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.overall-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    /* Add some spacing between Overall and the review content */
    position: relative;
    /* To position the box behind the rating */
}

/* Overall Text */
.overall-rating span {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Overall Rating Value and Box Styling */
.rating-value {
    font-size: 80px;
    z-index: 1;
    font-weight: bold;
    position: relative;
    /* Relative position for stacking elements */
    padding: 20px 25px;
    /* Space around the rating value inside the box */
    border-radius: 10px;
}
.MuiRating-root {
    font-size: 24px;
    color: #000;
}


/* Combining review content and review details into a single column on the right */
.review-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Allow it to take remaining space */
}

.review-content {
    margin-bottom: 10px;
    /* Add some spacing between the review content and the details */
}

.review-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* This will ensure two columns for the ratings */
}

.review-component {
    position: relative;
    /* To allow positioning of date */
    /* ... other styles ... */
}

.review-date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Category Rating Structure */
.category-rating {
    width: 45%;
    /* To allow two ratings side by side */
    display: flex;
    /* This will ensure inline structure */
    align-items: center;
    /* Vertically centers the stars with the text */
}

.stars {
    display: flex;
    /* To display star spans in a row */
    margin-left: 10px;
    /* Adds a little space between the category name and the stars */
    font-size: 1.5em;
    color: #ccc;
    /* Default color for uncolored stars */
    cursor: pointer;
}

.star {
    margin-left: 3px;
    /* Optional: To give a little space between stars */
}

.star.active {
    color: #000;
    /* Color for active (colored) stars */
}

.star.inactive {
    color: #e0e0e0;
    /* Color for inactive (uncolored) stars */
}

/* Colors Based on Rating Value */
.rating-value[data-rating="1"],
.rating-value[data-rating="2"] {
    background-color: red;
}

.rating-value[data-rating="3"],
.rating-value[data-rating="4"] {
    background-color: yellow;
}

.rating-value[data-rating="5"] {
    background-color: green;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
  }
  
  .modal-content h2 {
    color: #ea5455;
    margin-top: 0;
  }
  .modal-content textarea {
    width: 100%;
  }
  
  .modal-content button {
    margin-top: 10px;
  }
  .report-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ea5455;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .modal-content .submit-cancel-button {
    background-color: #ea5455;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  .modal-content .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }